<div class="container" style="margin-top: 60px;">
<form>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 left-align">
      <h1>Nova Pessoa</h1>
    </div>

    <div class="ui-g-12 ui-fluid" style="margin-left: 8px; margin-right: 8px;" >
      <label>Nome</label>
      <input pInputText type="text"/>
    </div>

    <div class="ui-g-12 ui-fluid" >
      <div class="ui-g-10 ui-md-8 ui-sm-12">
        <label>Logradouro</label>
        <input pInputText type="text" />
      </div>

      <div class="ui-g-2 ui-md-4 ui-sm-12">
        <label>Número</label>
        <input pInputText type="text">
      </div>
    </div>

    <div class="ui-g-12 ui-fluid">
        <div class="ui-g-4 ui-sm-12">
            <label>Complemento</label>
            <input pInputText type="text" />
        </div>

        <div class="ui-g-4 ui-sm-12">
            <label>Bairro</label>
            <input pInputText type="text" />
        </div>

        <div class="ui-g-4 ui-sm-12">
            <label>CEP</label>
            <p-inputMask mask="99999-999" ></p-inputMask>
        </div>
    </div>

    <div class="ui-g-12 ui-fluid">
      <div class="ui-g-6 ui-sm-12">
        <label>Cidade</label>
        <input pInputText type="text" />
      </div>

      <div class="ui-g-6 ui-sm-12">
        <label>Estado</label>
        <input pInputText type="text" />
      </div>
    </div>

  </div>
  <div class="ui-g-12 left-align">
      <button pButton type="submit" label="Salvar" icon="fa fa-save" ></button>
      <button pButton type="button" label="novo" icon="fa fa-plus" class="ui-button-info"></button>
      <a href="#" style="text-decoration: none;">Voltar para a pesquisa</a>
    </div>
</form>
</div>
